<div class="row">
  <div class="col-xs-11">
    <h1><%= @question.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-1">
    <% if current_user %>
      <div class="voting">
        <%= link_to "<span class='glyphicon glyphicon-arrow-up'></span>".html_safe, new_question_upvote_path(@question.id) %>
          <p><%= @question_count %></p>
        <%= link_to "<span class='glyphicon glyphicon-arrow-down'></span>".html_safe, new_question_downvote_path(@question.id) %>
      </div>
    <% else %>
      <div class="voting">
        <%= link_to "<span class='glyphicon glyphicon-arrow-up'></span>".html_safe, new_user_registration_path %>
          <p><%= @question_count %></p>
        <%= link_to "<span class='glyphicon glyphicon-arrow-down'></span>".html_safe, new_user_registration_path %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-10">
    <p><%= @question.body %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if current_user %>`
      <% if current_user.id == @question.user_id %>
        <%= link_to "Delete Question", question_path(@question), method: "delete" %>
      <% end %>
      <%= link_to "Add Comment", new_comment_path(question_id: @question.id) %>
    <% end %>
  </div>
</div>

<% if !@question.answers.empty? %>
  <h3><%= @question.answers.count %> Answers</h3>
  <% @question.answers.each do |answer| %>

  <div class="row">
    <div class="col-xs-1">
      <% if current_user %>
        <div class="voting">
          <%= link_to "<span class='glyphicon glyphicon-arrow-up'></span>".html_safe, new_answer_upvote_path(answer.id) %>
            <p><%= vote_total(answer) %></p>
          <%= link_to "<span class='glyphicon glyphicon-arrow-down'></span>".html_safe, new_answer_downvote_path(answer.id) %>
        </div>
      <% else %>
        <div class="voting">
          <%= link_to "<span class='glyphicon glyphicon-arrow-up'></span>".html_safe, new_user_registration_path %>
            <p><%= @question_count %></p>
          <%= link_to "<span class='glyphicon glyphicon-arrow-down'></span>".html_safe, new_user_registration_path %>
        </div>
      <% end %>
    </div>

    <div class="col-xs-10">
      <div><%= answer.body %></div>
      <div>Username: <%= answer.user.username %></div>
      <% if current_user %>
        <%= link_to "Add Comment", new_comment_path(answer_id: answer.id) %>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if current_user %>
      <h2>Answer Question</h2>

      <%= form_for [@question, @answer] do |f| %>
        <%= f.label :body %> <br>
        <%= f.text_area :body, rows: 10, cols: 100 %> <br>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
</div>
