<div class="vote-count">
	<ul>
		<li class="arrow up-arrow"><%= link_to "⬆", question_upvote_path(@question.id) %>︎</li>
		<li class-"arrow"><%= @question.vote_count %></li>
		<li class="arrow down-arrow"><%= link_to "⬇", question_downvote_path(@question.id) %>︎</li>
</div>
<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<% if current_user && current_user.id == @question.user_id %>
<%= link_to "Delete Question", question_path(@question.id), method: "delete" %>
<% end %>


<% if !@question.answers.empty? %>
	<h3>Answers</h3>
	<% @question.answers.each do |answer| %>
	  <div><%= answer.body %></div>
	  <div>Username: <%= answer.user.username %></div>
	<% end %>
<% end %>

<% if current_user %>
	<h2>Answer Question</h2>

	<%= form_for [@question, @answer] do |f| %>
	  <%= f.label :body %> <br>
	  <%= f.text_area :body, rows: 10, cols: 100 %> <br>
	  <%= f.submit %>
	<% end %>
<% end %>
