<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Fox Overflow", root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <li><%= link_to "Ask Question", new_question_path %></li>
          <li><%= link_to "Popular Questions", questions_path %></li>
          <li><%= link_to "Top Users", top_users_path %></li>
      </ul>
      <%= form_for :search, url: search_path, method: :post, html: {class: "navbar-form navbar-left", role: "search"} do |f| %>
        <div class="form-group">
          <%= f.search_field :search, name: "search_data", placeholder: "Search Questions", class: "form-control" %>
          <%= f.button type: :submit, class: "btn btn-primary", value: "Search" %>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Public Profile (#{current_user.vote_points})", user_path(current_user.id) %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
